<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Fornecedores</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter" id="">
            <thead class="text-primary">
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Qtd de Frutas</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>APTI</td>
                <td>25</td>

              </tr>
              <tr>
                <td>2</td>
                <td>CAFÉ FLORESTA</td>
                <td>52</td>
                
              </tr>
              <tr>
                <td>3</td>
                <td>TUPI</td>
                <td>200</td>
                
              </tr>
              <tr>
                <td>4</td>
                <td>VITA CESTA</td>
                <td>334</td>
                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Common Datepicker</nb-card-header>
      <nb-card-body>
        <input nbInput
               placeholder="Form Picker"
               [nbDatepicker]="formpicker">
        <nb-datepicker #formpicker></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Datepicker With Range</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="Range Picker" [nbDatepicker]="rangepicker">
        <nb-rangepicker #rangepicker></nb-rangepicker>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card>
      <nb-card-header>Datepicker With Disabled Min Max Values</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="Min Max Picker" [nbDatepicker]="picker">
        <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->
